<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>todo list con Vue</title>
</head>
<body>
  <div class="container" id="list">
    <!-- Area dove inseriamo i dati -->
    <div class="input-dati">
      <h1>Lista delle cose da fare.</h1>
      <input type="text" name="text" placeholder="Inserisci il teso" @keyup.enter="aggiungiImpegno" v-model="nuovoImpegno">
      <button type="button" name="button" @click="aggiungiImpegno">Aggiungi</button>
    </div>
    <!-- / area dove inseriamo i dati -->
    <!-- Lista degli elementi -->
    <div class="lista">
      <ul v-if="impegni.length > 0">
        <li class="elemento-lista" v-for="(impegno, index) in impegni">{{ index + 1 + ') ' + impegno }}
          <i class="fas fa-times" @click="eliminaImpegno(index)"></i>
        </li>
      </ul>
      <h2 v-else>La lista è vuota</h2>
    </div>
    <!-- / lista degli elementi -->
    <!-- Lista degli elementi eliminati -->
    <h2>Lista degli elementi eliminati <i class="fas fa-trash" @click="cancellaTutto()"></i></h2>
    <div class="lista">
      <ul v-if="impegniEliminati.length > 0">
        <li class="elemento-lista" v-for="(impegno, index) in impegniEliminati"> {{ index + 1 + ') ' + impegno }}
          <i class="fas fa-times" @click="cancellaImpegno(index)"></i>
          <i class="fas fa-trash-restore" @click="ripristinaImpegno(index)"></i>
        </li>
      </ul>
      <h3 v-else>Nessun elemento eliminato</h3>
    </div>
    <!-- / lista degli elementi eliminati -->

  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
